cmake-build-debug
cmake-build-install
cmake-build-release

.hidden
.vscode

cmake_install.cmake
Makefile
build
worlds
libZepha_Core.a
Zepha
CMakeCache.txt
CMakeFiles
src/CMakeFiles
test/CMakeFiles
/subgames/minimal/
